node_modules/
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.log
.DS_Store
anbaric-cli/dist/
tsapi/dist/
anbaric-state-machine/dist/
anbaric-data-store/dist/
anbaric-impl-cloud/dist/
anbaric/dist/
*.tsbuildinfo
